//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/material.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/ioan/.local/share/rofi/themes/windows11-list-dark.rasi"
@theme "/home/ioan/.local/share/rofi/themes/rounded-blue-dark.rasi"
